/*.content-wrapper {
    width: 100vw;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
}*/
.content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}
#ledditor h1, #ledditor h2, #figs h1, #figs h2, #name h1, #name h2, #poverty h1, #poverty h2 {
    text-align: left;
}
#ledditor img, #figs img, #name img, #poverty img {
    width: 100%;
}
/***** Ledditor *****/
#ledditor {
    position: relative;
    background: #202020;
    color: white;
    /*overflow: hidden;*/
    /*padding: 5vh 0;*/
}

#ledditor .content-wrapper,
#ledditor .title-block {
    padding: 0;
    width: 70vw;
    max-width: 1200px;
    margin: 0 auto;
}

#ledditor-photos {
    position: absolute;
    width: 30%;
    max-width: 500px;
}
#ledditor-photos img {
    margin: 2vh 0;
}
#ledditor-photos img:first-child {
    margin: 0;
}
#ledditor #letter {
    position: absolute;
    width: 60%;
    right: 0;
}

#ledditor .sigs {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
/*#ledditor #signatures img {
    width: 20vw;
    max-width: 400px;
    min-width: 150px;
    height: auto;
}*/
/*#ledditor #sig-1 {
    position: relative;
    top: 20px;
}
#ledditor #sig-2 {
    position: relative;
    left: 320px;
    top: -70px;
}
#ledditor #sig-3 {
    position: relative;
    left: 70px;
    top: -100px;
}
#ledditor #sig-4 {
    position: relative;
    left: 360px;
    top: -150px;
}*/

#ledditor .content {
    width: 70vw;
}

/***** Poverty *****/
#poverty .title-block {
    position: absolute;
    right: 10vw;
    width: 325px;
    margin: 10vh 0 5vh 5vw;
    z-index: 2;
}

#background-box {
    width: 80%;
    height: 85%;
    position: absolute;
    top: 5%;
    left: -10%;
    z-index: 0;
    border: 6px solid #fee94e;
}
#text {
    margin: -10vh 0 0 0;
}
#text .sub-text {
    position: relative;
    z-index: 2;
    width: 35vw;
    max-width: 500px;
    background-color: white;
    padding: 10px 10px 0 10px;
    height: auto;
}
#sub-1 {
    position: absolute;
    left: 10%;
    top: 10vh;
}
#sub-2  {
    position: absolute;
    left: 50%;
    top: -20vh;
}
#sub-3 {
    position: absolute;
    left: 10%;
    top: -40vh;
}
#sub-4 {
    position: absolute;
    left: 50%;
    top: -60vh;
}
.poverty-img {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 60vh;
    max-height: 800px;
}
#poverty-2 {
    right: 0;
}

/***** Figs *****/
#figs {
    padding: 5vh 5vw;
    background-color: #591f3b;
    color: white;
    height: 200%;
}
#figs .title-block {
    margin-bottom: 5vh;
}
#figs .content {
    position: relative;
    z-index: 1;
}
#fig-text {
    height: auto;
}
.fig-image, .fig-squiggle {
    position: absolute;
    right: 10vw;
    z-index: 0;
    width: 30vw;
    min-width: 200px;
    max-width: 500px;
    height: auto;
}
#fig-2 {
    right: 25vw;
}
#fig-3{
    right: 5vw;
}
.fig-squiggle {
    z-index: 2;
}
#squiggle-1 {
    right: 30vw;
}
#squiggle-2 {
    right: 10vw;
}
#squiggle-3 {
    left: 10vw;
}
/***** What's in a Name *****/
#name {
    position: relative;
    background: #65bc9d;
    /*border-left: 12px solid white;*/
}
#name .title-block {
    margin-bottom: 5vh;
}
#name #top-image {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}
#name #bott-image {
    margin-bottom: -9px;
}
.header-image {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
}
#name .content-wrapper {
    position: relative;
    z-index: 0;
    width: 90%;
    /*left: 10%;*/
    padding: 5vh 10vw 10vh 5vw;
    background-color: white;
}
#name .content {
    position: relative;
    z-index: 2;
    width: 60vw;
    margin: 0 auto;

}
#name .kel-deco {
    position: absolute;
    z-index: 1;
}
#name #kel-gender {
    width: 30vw;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
}
#name #kel-name {
    width: 80vw;
    left: 10vw;
}
#name [id^=star] {
    width: 50px;
}
#name #star-1 {
    left: 30vw;
    transform: rotate(-80deg);
    -ms-transform: rotate(-80deg); /* IE 9 */
    -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
}
#name #star-2 {
    right: 20vw;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
}
#name #star-3 {
    right: 40vw;
}
#name #kel-gender {
    right: 30vw;
}
/***** Media Queries *****/
@media (max-width: 600px) {

    #ledditor-photos {
        display: none;
    }
    #ledditor #letter {
        position: absolute;
        width: 100%;
        right: 0;
    }
    /*#ledditor #sig-1 {
        position: relative;
        top: -20px;
    }
    #ledditor #sig-2 {
        position: relative;
        left: 25vw;
        top: -60px;
    }
    #ledditor #sig-3 {
        position: relative;
        left: 5vw;
        top: -90px;
    }
    #ledditor #sig-4 {
        position: relative;
        left: 25vw;
        top: -110px;
    }*/
    #poverty .sub-text {
        width: 100%;
        top: 500px;
        margin: 0 auto;
        background: none;
    }
    .poverty-img {
        display: none;
    }
    #sub-1, #sub-2, #sub-3, #sub-4 {
        left: 0;
        right: 0;
    }
    #fig-1 {
        right: 5vw;
    }
    #fig-2 {
        right: 5vw;
    }
    #fig-3 {
        right: 5vw;
    }
    .fig-squiggle {
        opacity: .6;
    }
    #name .content {
        width: 80vw;
    }
}
