#nina-img {
	width: 100%;
	display: block;
}

#nina-container {
	position: relative;
}

#nina-text {
	color: #f7b46c;
	font-size: 5vw;
	text-align: left;
	margin-left: 5vw;
	position: absolute;
	z-index: 100;
	top: 100vh;
}


#b7517 {
	background: #ffe8ce;
	text-align: center;
}


.b7517-p {
	margin-bottom: 15px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

.b7517-title {
	color: black;
	background: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	font-size: 60px;
	width: 240px;
	z-index: 100;
}

#b7517-header {
	margin: 0 auto;
	width: 100%;
	height: 400px;
	background-image: url(../img/britt1.jpg);
	background-size: cover;
}

#b7517 .vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#b7517-container {
	display: inline-block;
	margin: 0 auto;
	width: auto;
	font-size: 16px;
}

.b7517-col{
	width: 30%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
}

.b7517-img {
	width: 100%;
	display: block;
}

@media (max-width: 800px){
	#nina-text {
		color: #f7b46c;
		font-size: 5vw;
		text-align: center;
		padding-left: 10vw;
		padding-top: 50vh;
		z-index: 100;
		top: 0;
	}

	.b7517-col{
		width: 100%;
		display: block;
		margin: 15px auto;
		vertical-align: top;
	}

}
