#cover img {
  width: 100%;
}

#cover .title {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

#cover h1 {
  color: #00aeef;
  font-size: 20vmin;
}

#cover h2 {
  color: #00aeef;
  font-size: 8vmin;
  text-transform: none;
  padding-top: 5vmin;
  text-decoration: underline;
  text-decoration-color: #fff101;
}

/********** COVER **********/
/********** TOC **********/

#toc {
  background-color: #f8f8f8;
  background-image: url("../img/toc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#toc h1 {
  color: #ed028c;
  font-size: 20vw;
}

#toc ul {
  list-style: none;
  padding: 30px 15px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#toc li {
  padding: 10px;
  color: white;
  mix-blend-mode: difference;
}

#toc a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

#toc a:hover {
  text-decoration: underline;
}

/********** TOC **********/
/********** OFF-WHITE **********/

#off-white .container {
  max-width: 800px;
  text-align: right;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
}

#off-white h1 {
  text-align: left;
  /*font-size: 70px;*/
}

#off-white h2 {
  text-align: left;
  padding-bottom: 20px;
}

#off-white .inner-text {
  text-align: left;
}

#off-white img {
  max-width: 50%;
}

/********** OFF-WHITE **********/
/********** queer-studies **********/

#queer-studies {
  background-color: #231f20;
  color: white;
  padding: 50px 15px;
}

#queer-studies h2 {
  text-transform: none;
}

#queer-studies img {
  width: 100%;
}

#queer-studies p {
  margin: 0;
}

#queer-studies .row {
  padding-top: 50px;
}

#queer-studies .descr {
  border-left: white solid 1px;
  padding: 10px;
}

#queer-studies .intro {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#queer-studies .container {
  padding-bottom: 30px;
  border-bottom: 1px white solid;
}

/********** queer-studies **********/
/********** holidays **********/

#holidays {
  background-color: black;
  border: 10px solid pink;
  color: #a0c5d9;
  text-align: center;
}

#holidays .banner {
  width: 100%;
  height: 200px;
  background-image: url(../img/holidays2.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

#holidays .inner-text {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#holidays p {
  display: inline-block;
  text-align: left;
}

/********** holidays **********/
/********** untitled **********/

#untitled .inner-text {
  display: inline-block;
}

#untitled h2 {
  font-size: 30px;
  margin: 50px 0;
  text-align: left;
}

#untitled {
  text-align: center;
  background-image: url(../img/untitled.jpeg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: none;
}

#untitled p {
  display: inline-block;
  text-align: left;
}

/********** untitled **********/
/********** tactile **********/

#tactile-relief {
  text-align: center;
  padding: 50px 15px;
}

#tactile-relief .inner-text {
  display: inline-block;
  margin-top: 50px;
}

#tactile-relief p {
  display: inline-block;
  text-align: left;
}

#tactile-relief img {
  max-width: 100%;
  max-height: 100vh;
}

#tactile-relief .flower {
  height: 100px;
}

#tactile-relief h1 {
  font-size: 80px;
}

#tactile-relief h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

/********** tactile **********/
/********** addendum **********/

#addendum {
  background-image: url(../img/fabric.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 50px;
}

#addendum h1,
#addendum h2 {
  color: white;
}

#addendum .inner-text {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

#addendum .right {
  text-align: right;
}

#addendum p {
  display: inline-block;
  text-align: left;

  background-color: #efcdd2;
  border: 20px white solid;
  padding: 20px;

  max-width: 700px;
  /*clear: left;*/
}

/*#addendum .left*/


/********** addendum **********/


/********** CREDITS **********/

#credits ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
