/*.content-wrapper {
    width: 100vw;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
}*/
.content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}
#ledditor h1, #ledditor h2, #figs h1, #figs h2, #name h1, #name h2, #poverty h1, #poverty h2 {
    text-align: left;
}
/***** Ledditor *****/
#ledditor {
    position: relative;
    background: #202020;
    color: white;
    overflow: hidden;
}
#ledditor .content-wrapper, #ledditor .title-block {
    padding: 5vh 0;
    width: 70vw;
    max-width: 1200px;
    margin: 0 auto;
}
#ledditor-photos {
    position: absolute;
    width: 30%;
    max-width: 500px;
}
#ledditor-photos img {
    margin: 2vh 0;
}
#ledditor img, #figs img, #name img, #poverty img {
    width: 100%;
}
#ledditor #letter {
    position: absolute;
    width: 60%;
    right: 0;
}
#ledditor #signatures img {
    width: 20vw;
    max-width: 400px;
    min-width: 150px;
    height: auto;
}
#ledditor #sig-1 {
    position: relative;
    top: 20px;
}
#ledditor #sig-2 {
    position: relative;
    left: 20vw;
    top: -30px;
}
#ledditor #sig-3 {
    position: relative;
    left: 5vw;
    top: -50px;
}
#ledditor #sig-4 {
    position: relative;
    left: 25vw;
    top: -100px;
}
#ledditor .content {
    width: 70vw;
}

/***** Poverty *****/
#poverty .title-block {
    display: block;
    width: 325px;
    margin: 10vh 0 5vh 5vw;
}
#background-box {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 0;
    border: 6px solid #fee94e;
}
#poverty #intro-image {
    display: block;
    width: 50vw;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}
#text .sub-item {
    position: relative;
    z-index: 2;

    display: flex;
    flex-flow: row nowrap;
    align-content: space-around;
    align-items: center;
}
.sub-item .sub-text {
    width: 40vw;
    margin-left: 5vw;
}
.sub-item img {
    width: 40vw;
}

/***** Figs *****/
#figs {
    padding: 5vh 5vw;
    background-color: #591f3b;
    color: white;
    height: 200%;
}
#figs .title-block {
    margin-bottom: 5vh;
}
#figs .content {
    position: relative;
    z-index: 1;
}
#fig-text {
    height: auto;
}
.fig-image, .fig-squiggle {
    position: absolute;
    right: 10vw;
    z-index: 0;
    width: 30vw;
    min-width: 200px;
    max-width: 500px;
    height: auto;
}
#fig-2 {
    right: 25vw;
}
#fig-3{
    right: 5vw;
}
.fig-squiggle {
    z-index: 2;
}
#squiggle-1 {
    right: 30vw;
}
#squiggle-2 {
    right: 10vw;
}
#squiggle-3 {
    left: 10vw;
}
/***** What's in a Name *****/
#name {
    background: #65bc9d;
    border-left: 10px solid white;
}
#name .title-block {
    margin-bottom: 5vh;
}
#name .header-image {
    height: 500px;
}
#name .header-image img {
    display: block;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    padding: 5vh 0;
}
#name .header-image #top-image {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}
#name .content-wrapper {
    display: block;
    width: 90%;
    left: 10%;
    padding: 5vh 10vw 10vh 5vw;
    background-color: white;
}
#name .content {
    width: 60vw;
    margin: 0 auto;
}

/***** Media Queries *****/
@media (max-width: 600px) {

    #ledditor-photos {
        display: none;
    }
    #ledditor #letter {
        position: absolute;
        width: 100%;
        right: 0;
    }
    #ledditor #sig-1 {
        position: relative;
        top: 20px;
    }
    #ledditor #sig-2 {
        position: relative;
        left: 20vw;
        top: 8px;
    }
    #ledditor #sig-3 {
        position: relative;
        left: 5vw;
        top: -5px;
    }
    #ledditor #sig-4 {
        position: relative;
        left: 25vw;
        top: -10px;
    }
    #fig-1 {
        right: -10vw;
    }
    #fig-2 {
        right: -5vw;
    }
    #fig-3 {
        right: -15vw;
    }
    .fig-squiggle {
        opacity: .6;
    }
}