#poem .poem-text p{
	margin-left: 13vw;
	margin-top: 4vh;
}



#poem {
	background-color: #FFCAD4;
	padding-bottom: 4vh;
}
#its-time p {
	margin-left: 13vw;
	margin-right: 13vw;
}

#its-time .text {
	margin-top: 4vh;
}

#its-time {
	background-color: #DAF7DC;
}


#comic img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0 55px;
}
